.App {
  text-align: center;
}
.panel-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  border-radius: 2%;
  background-color: 'background.paper';
  display: flex;
  margin: 1%;
  width: 100%;
  flex-direction: column;
  padding: 1%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.cardTitle{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 135%;
  padding: 3%;
  text-align: left;
}
.mgmtButtons {
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  padding:2%;
}
.leaderboard{
  border-radius: 0;
}
